.helloP {
    color: rgb(219 39 119);
}

.myNameH1 {
    /*font-size: 2.25rem; !* 36px *!*/
    font-size: 2.25rem; /* 36px */
    line-height: 5.5rem; /* 40px */
    font-weight: 700;
    color: #ccd6f6;
}

.frontEndH2 {
    font-size: 1.25rem; /* 36px */
    line-height: 5.5rem; /* 40px */
    font-weight: 700;
    color: #9da2ae;
}

.aboutP {
    color: #8892b0;
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
    max-width: 700px;
    font-size: 2.25rem; /* 36px */
    line-height: 3.5rem; /* 40px */
}


@media (min-width: 640px) {
    .myNameH1{font-size: 4.5rem;}
    .helloP{font-size: 2.5rem;}
    .frontEndH2{font-size: 4.5rem;}
}
.container {
    /*border: 1px solid;*/
    height: 100%;
    width: 80%;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mainBlock {
    min-height: 100vh;
    background-color: #0a192f;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.textContainer {
    /*max-width: 100%;*/
    /*display: flex;*/
    /*width: 300px;*/
    /*height: 400px;*/
    /*background-color: darkgrey;*/
    /*max-height: 100%;*/
    /*overflow-wrap: break-word;*/
    /*!*justify-content: space-around;*!*/
    /*!*flex-direction: row;*!*/
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    /*height: 400px;*/
    /*width: 300px;*/
    /*background-color: #0a192f;*/

    /*overflow: hidden;*/
    display: flex;
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*flex-direction: row;*/

    flex-direction: column;
    align-items: flex-start;


}

.fotoContainer {
    max-width: 100%;
    height: 400px;
    width: 300px;
    background-color: #0a192f;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto {
    min-height: auto;
    min-width: auto;
    flex-shrink: 0;
    /*opacity: 50%;*/
}

.textAbout {
    min-width: 100%;
    max-height: 100%;
    overflow-wrap: break-word;
}


