.navbarMainBlock {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem; /* 16px */
    padding-right: 1rem; /* 16px */
    background-color: #2b2d33;
    color: #d1d5db;
}
.menu {
    display: none;
}
.hamburger {
    z-index: 10;
}
.hiddenMobileMenu {
    display: none;
}
.showMobileMenu {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #0a192f;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-end;
}
@media (min-width: 768px) {
    .menu {
        display: flex;
    }

    .hamburger {
        display: none;
    }
}
.hamburgerItems {
    padding-top: 1.5rem; /* 24px */
    padding-bottom: 1.5rem; /* 24px */
    font-size: 2.25rem;
    color: #0a192f;
}
.socialIconsBlock {
    display: none;
}
@media (min-width: 1024px) {
    .socialIconsBlock {
        display: flex;
        position: fixed;
        flex-direction: column;
        top: 35%;
        left: 0px;
    }
}
.socialIconsItem {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -100px;
    transition-duration: 300ms;
}
.socialIconsItem:hover {
    margin-left: -10px;
}
.linkedIn {
    background-color: rgb(37 99 235);
}
.gitHub {
    background-color: #333333;
}
.email {
    background-color: #6fc2b0;
}
.resume {
    background-color: #565f69;
}
.hamburgerBlock {
    background-color: #abc2e7;
}
.linkSocialItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #d1d5db;
}