.cardContainer {
    /*'shadow-lg shadow-[#040c16] group container rounded-md flex justify-center items-center mx-auto content-div'*/
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border-radius: 0.375rem; /* 6px */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;

}

.cardContainer:hover {
    /*background-image: linear-gradient(*/
    /*        to right,*/
    /*        !*rgba(112, 157, 255, 0.8),*!*/
    /*        rgba(247, 80, 35, 0.8),*/
    /*        hsla(242, 74%, 61%, 0.8)*/
    /*)!important;*/
    background: rgb(233,44,19);
    background: linear-gradient(323deg, rgba(233,44,19,0.5802696078431373) 52%, rgba(252,222,69,0.7679446778711485) 100%)!important;
}
.hoverDiv{
    opacity: 0;
}
.hoverDiv:hover{
    opacity: 100%;
}
.captionWork{
    /*text-2xl font-bold text-white tracking-wider*/
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
    font-weight: 700;
    color: white;
    letter-spacing: 0.05em;
}
.buttonBlock {
/*'pt-8 text-center'*/
    text-align: center;
    padding-top: 2rem; /* 32px */
}
.buttonWork{
/*'text-center rounded-lg px-4 py-3 m-2 bg-white text-gray-700 font-bold text-lg'*/
    text-align: center;
    border-radius: 0.5rem; /* 8px */
    /*padding-left: 1rem; !* 16px *!*/
    /*padding-right: 1rem; !* 16px *!*/
    /*padding-top: 0.75rem; !* 12px *!*/
    /*padding-bottom: 0.75rem; !* 12px *!*/
    padding: 0.75rem 1rem;
    margin: 0.5rem; /* 8px */
    background: white;
    color: rgb(55 65 81);
    font-weight: 700;
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
}