.cardContainer {
    /*'shadow-lg shadow-[#040c16] group container rounded-md flex justify-center items-center mx-auto content-div'*/
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    border-radius: 0.375rem; /* 6px */

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;

}

.cardContainer:hover {
    background-image: linear-gradient(
            to right,
            rgba(112, 157, 255, 0.8),
            hsla(242, 74%, 61%, 0.8)
    )!important;
}
.hoverDiv{
    opacity: 0;
}
.hoverDiv:hover{
    opacity: 100%;
}