.project {
    width: 250px;
    max-width: 100%;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.imgContainer {
    text-align: left;
    min-height: 200px;
    width: 100%;
    background-color: #a4eaa4;
    /*background-image: url("");*/
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.description {
    background-color: #696464;
    max-width: 100%;
    max-height: 100%;
    overflow-wrap: break-word;
    margin: 20px;
}
.linkProject {
    background-color: burlywood;
}