.remoteBlock {
    min-height: 30vh;
    background-color: #f5e1af;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.remoteContainer {
    min-height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
}
.text {
    max-width: 100%;
    display: flex;
    width: auto;
    height: auto;
    background-color: darkgrey;
    max-height: 100%;
    overflow-wrap: break-word;
    justify-content: space-around;
    text-align: center;
}

.buttonHire {
    max-width: 200px;
    min-width: 50px;
    max-height: 120px;
    min-height: 30px;
    background-color: #f0b2c6;
}



