.projectsBlock{
    min-height: 100vh;
    background-color: #bb80cd;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;

}
.title{
    background-color: #668e4d;
}
.projects{

    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}